.header {
  margin: 45px 0 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 74px;
  position: relative;
 }
 
 .header::before {
   content: "";
   display: block;
   min-height: 74px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: 0.7;
   border-bottom: 1px solid #545454;
 }